@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login with EVE Online</h1>
    <a asp-area="Home" asp-controller="Authentication" asp-action="Login"><img src="~/img/eve-sso-login-black-large.png" /></a>
</div>
